/* MOBILE RESPONSIVE */

@media (max-width: 600px){

.overlay{
padding:25px;
margin:10px;
}

.names{
font-size:38px;
}

.and{
font-size:22px;
}

.tagline{
font-size:14px;
}

.ann{
font-size:16px;
}

.openBtn{
padding:12px 30px;
font-size:16px;
}

.main-card{
padding:20px;
}

.photo{
width:200px;
}

#countdown{
font-size:20px;
}

h1{
font-size:28px;
}

h2{
font-size:20px;
}

p{
font-size:14px;
}

button{
font-size:14px;
padding:10px 18px;
}

}